# Adafruit-BMP==1.5.2
git+git://github.com/adafruit/Adafruit_Python_BMP.git
Adafruit-GPIO==1.0.3
Adafruit-PureIO==0.2.1
certifi==2017.11.5
chardet==3.0.4
docopt==0.6.2
idna==2.6
requests==2.18.4
spidev==3.2
thingspeak==0.4.1
urllib3==1.22
